In [2]:
import pandas as pd
import numpy as np

#### Use pandas to create a Series named fruits from the following list:

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [4]:
fseries = pd.Series(fruits)

In [5]:
fseries

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

#### Use Series attributes and methods to explore your fruits Series.

In [6]:
type(fseries)

pandas.core.series.Series

In [7]:
#Determine the number of elements in fruits.
fseries.count()

17

In [40]:
#Output only the index from fruits.

list(fseries.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [47]:
#Output only the values from fruits.

fseries.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [60]:
#Confirm the data type of the values in fruits.

fseries.values.dtype

dtype('O')

In [63]:
#Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

fseries.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [64]:
fseries.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [71]:
fseries.sample(2)

4     gala apple
16        papaya
dtype: object

In [75]:
#Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fseries.describe()
# object

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [81]:
#Run the code necessary to produce only the unique string values from fruits.

unique_fruits = []

for i in fseries:
    if i not in unique_fruits:
        unique_fruits =  unique_fruits + [i]
print(unique_fruits)

['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple', 'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'blueberry', 'blackberry', 'gooseberry', 'papaya']

In [7]:
fseries.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [8]:
set(fseries)

{'blackberry',
 'blueberry',
 'gala apple',
 'gooseberry',
 'honeycrisp apple',
 'honeydew',
 'kiwi',
 'mango',
 'papaya',
 'pineapple',
 'strawberry',
 'tomato',
 'watermelon'}

In [87]:
#Determine how many times each unique string value occurs in fruits.

fseries.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [94]:
#Determine the string value that occurs most frequently in fruits.

fseries.value_counts().sort_values(ascending=False).head(1)

kiwi    4
dtype: int64

In [9]:
fseries.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [12]:
fseries.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [100]:
#Determine the string value that occurs least frequently in fruits.

fseries.value_counts().nsmallest(keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64